footer-element
    position: relative

    img
        width: 350px !important
        position: relative
        transform: translateX(-50%)
        left: 50%
        padding-left: 20px
        padding-right: 20px

    p, h3
        padding-left: 10px
        padding-right: 10px

    .footer-grid
        background-color: #A85CF9
        padding-top: 20px
        padding-bottom: 20px
        color: white

        a
            color: white

    #border-top-footer:after
        content: ""
        position: absolute
        display: block
        width: 100%
        height: 100%
        transform: translateY(-30px)
        border-top: 5px dotted #A85CF9
        
    .row
        margin-right: 0
        padding-bottom: 0

    a
        display: inline !important
        word-wrap: break-word

    @media screen and (max-width: 573px)
        img
            width: 300px !important 
            
    #copyright-form
        background-color: #5534A5
        width: 100%
        padding: 10px
        text-align: center
        margin: 0
            
    