inactive_account-page
    .container
        text-align: center

    .invalid-feedback
        text-align: left

    #inactive_account_button
        width: 100%
        padding: 5px
        border: 2px solid #e9e9e9
    
    #inactive_account_button:hover
        border: 2px solid red
        background-color: red
        color: white

    .icon-large-danger
        position: relative
        border: 2px solid red
        border-radius: 100%
        text-align: center
        padding: 10px
        
    #delete-account-icon
        width: 300px
        height: 200px
        object-fit: contain